name: CD

permissions:
  contents: read
  packages: write

on:
  workflow_run:
    workflows:
      - CI
    types:
      - completed

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  cd:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Convert repository name to lowercase
        id: repo
        run: echo "lowercase=${GITHUB_REPOSITORY,,}" >> $GITHUB_OUTPUT

      - name: Build and push app image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          target: app-runner
          tags: ${{ env.REGISTRY }}/${{ steps.repo.outputs.lowercase }}-app:latest

      - name: Build and push migrate image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          target: migrate-runner
          tags: ${{ env.REGISTRY }}/${{ steps.repo.outputs.lowercase }}-migrate:latest

      - name: Scan app image with Trivy
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: ${{ env.REGISTRY }}/${{ steps.repo.outputs.lowercase }}-app:latest

      - name: Scan migrate image with Trivy
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: ${{ env.REGISTRY }}/${{ steps.repo.outputs.lowercase }}-migrate:latest
